body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../img/Background2.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.header {
    text-align: center;
}

.logo {
    width: 50px;
    height: auto;
}

h1 {
    font-size: 16px;
    color: #6d0d0d;
}

h2 {
    font-size: 24px;
    color: #a70000;
    margin-top: 20px;
}

p {
    font-size: 16px;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.input-group input {
    width: 48%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.checkbox-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.checkbox-group label {
    font-size: 14px;
    color: #333;
}

button {
    padding: 10px;
    background-color: #a70000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #8a0000;
}
